body {
    display: grid;
    grid-template-areas: 'navbar';
    grid-template-areas: ;
}

nav {
    grid-area: 'navbar';
    background-color: white;
display flex;
align-items: center; 
justify-content

}

nav img{
    width: ;
}

@media (max-width: 800px){
    nav div:nth-child(2){
        display: inline-block;
        width: 50px;
    }
    nav div:nth-child(3){
        display: none;
    }
    .icon-burguer {
        width: 55%;